/*
  Keys:
    # wall
    - air
    G generator
    @ spawn
    + connector
    N note
    E exit
    B battery
*/
(
  rooms: [
    (
      prefab: "
        ######################################################
        ##-N-#########-------###---###########################
        ##---#####-------@--------B#########-G-###############
        ##---#####-###-------###---#########---###############
        ###-######-##########################-#######--------E
        ###-######-###################--------#######-########
        ###-######-####---############-##############-########
        ###---####-------N########-----##############-########
        #####-####-####---########-##################-###N--##
        #####-#----#####-#########-##################-#####-##
        #####---#####--------------###############----#####-##
        #######-#####-----########################-########-##
        ##---##-#####-----#########-------########-#####----##
        ##G-----#########-#########-#####-########-#####-#####
        ##---###---------------------###---#######-------#####
        ####-########-#######-##########-G-########-##########
        ####--#######-#######-#####################-##########
        #####-####----#######-----------#-----------##########
        #####------##########-#########-######################
        #####################B----------######################
        ######################################################
      "
    ),
    // (
    //   prefab: "
    //     ##+###########
    //     ##-###-------#
    //     ##---D---@---#
    //     ##-###-------#
    //     ##+###########
    //   "
    // ),
    (
      prefab: "
        #########
        #-------#
        #-------+
        #-------#
        ####+####
      "
    ),
  ]
)