/*
  Keys:
    # wall
    - air
    D door
    @ spawn
    + connector
    N note
    E exit
*/
(
  rooms: [
    (
      prefab: "
        ##################################
        ##-N-#########-------#############
        ##---#####---D---@---#############
        ##---#####-###-------#############
        ###D######-##############-------E#
        ###-######-##############-########
        ###-######-####---#######-########
        ###---####-------N#######-########
        #####-####-####---#######-###N--##
        #####-#----##############-#####-##
        #####---#####-----D-------#####-##
        #######-#####-----####-########-##
        #######-#######D######-#####----##
        #######-##############-#####-#####
        #######----------------------#####
        ##################################
      "
    ),
    // (
    //   prefab: "
    //     ##+###########
    //     ##-###-------#
    //     ##---D---@---#
    //     ##-###-------#
    //     ##+###########
    //   "
    // ),
    (
      prefab: "
        #########
        #-------#
        #-------+
        #-------#
        ####+####
      "
    ),
  ]
)