/*
  Keys:
    # wall
    - air
    D door
    @ spawn
    + connector
*/
(
  rooms: [
    (
      prefab: "
        ##+###########
        ##-###-------#
        ##---D---@---#
        ##-###-------#
        ##+###########
      "
    ),
    (
      prefab: "
        #########
        #-------#
        #-------+
        #-------#
        ####+####
      "
    ),
  ]
)